header {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 10px 20px;
  position: relative;
}

input {
  padding: 5px 10px;
  width: 50%;
}

.cartIcon {
  position: absolute;
  right: 20px;
}

.content {
  display: flex;
}
